<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/static.css">
    <title>Feed My Friends</title>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Feed My Friends</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <!--<li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>-->
            <li><a href="#">About   </a></li>
          </ul>
          <form class="navbar-form navbar-right post-input-form">
            <input type="text" class="form-control" id="post-input" placeholder="Add Link...">
            <button type="button" id="post-input-btn" class="btn btn-default">+</button>
          </form>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row"> 
        <div class="col-sm-3 col-md-2 sidebar">
            <div id="add-feed">
                <div>
                    <input type="text" id="feed-input" class="form-control" placeholder="Add Feed...">
                    <button type="button" id="feed-input-btn" class="btn btn-default">+</button>
                </div>
            </div>
            <div id="feeds">
                <ul class="nav nav-sidebar">
                    {% for feed in feeds %}
                    <li><div feed_id = "{{feed.feed_id}}">{{feed.feed_name}}</div></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-sm-offset-2 posts">
            {% for post in wall %}
                <div class="row article" feed_id="{{post.feed_id}}" post_id="{{post.post_id}}">    
                      <div class="col-xs-3 icon">
                            <img src="{{post.favicon_url}}">
                      </div>
                      <div class="col-xs-6">
                          <div class="row">                          
                                <h3 class="title"><a href="{{post.url}}" target="_blank">{{post.title}}</a></h3>
                          </div>
                          <div class="row description">{{post.description}}</div>
                      </div>
                      <div class="col-xs-3 pubdate">
                        {{((current_time - post.create_time|float)/60)|round(1)}} min
                      </div>       
                </div>                
            {% endfor %}
        </div>                

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <script src="../static/script.js"></script>
    <script type="text/javascript">
          
    </script>
  </body>
</html>